n8n/workflows/02_vector_search.json
{
  "name": "02 Vector Search",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "memory/search",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "memory-search",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body;\n\nif (!input.scope || !input.query) {\n  return [{\n    json: {\n      error: 'Missing required fields: scope, query'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    scope: input.scope,\n    query: input.query,\n    k: input.k || 5\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300],
      "name": "Validate Input"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nif (data.error) {\n  return [{\n    json: {\n      status: 'error',\n      message: data.error\n    }\n  }];\n}\n\nreturn [{\n  json: data\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 200],
      "name": "Check Validation"
    },
    {
      "parameters": {
        "respondWith": "json",
        "json": "={{ JSON.stringify({ status: \"error\", message: $input.first().json.message }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200],
      "name": "Error Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, scope, content, created_at\nFROM memory_vectors\nWHERE scope = '{{ $input.first().json.scope }}'\n  AND content ILIKE '%{{ $input.first().json.query.replace(/'/g, \"''\") }}%'\nORDER BY created_at DESC\nLIMIT {{ $input.first().json.k }};",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 400],
      "name": "Search Vectors",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_events (actor, action, target, decision, created_at)\nVALUES ('workflow:vector_search', 'memory_read', '{{ $input.first().json.scope }}', 'allowed', NOW());",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1050, 400],
      "name": "Insert Audit",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "json": "={{ JSON.stringify({ status: \"success\", mode: \"ilike_fallback\", items: $input.all()[0].json }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 400],
      "name": "Success Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Vectors": {
      "main": [
        [
          {
            "node": "Insert Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Audit": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
