n8n/workflows-v3/04_executor_dispatch.json
{
  "name": "04 Executor Dispatch",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "executor/run",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "executor-run",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body;\n\n// Validate required fields\nif (!input.tenant_id || !input.scope || !input.task) {\n  return [{\n    json: {\n      error: 'Missing required fields: tenant_id, scope, task'\n    }\n  }];\n}\n\n// Validate task is an object\nif (typeof input.task !== 'object' || input.task === null) {\n  return [{\n    json: {\n      error: 'task must be an object'\n    }\n  }];\n}\n\nconst requestId = input.request_id || `req-${Date.now()}-${Math.random().toString(36).slice(2,8)}`;\n\n// Simulate executor output\nconst output = {\n  timestamp: new Date().toISOString(),\n  task: input.task,\n  status: 'received',\n  executor: 'ai-executor'\n};\n\nreturn [{\n  json: {\n    tenant_id: input.tenant_id,\n    scope: input.scope,\n    task: input.task,\n    output: output,\n    outcome: 'ok',\n    request_id: requestId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300],
      "name": "Validate and Execute"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nif (data.error) {\n  return [{\n    json: {\n      status: 'error',\n      message: data.error\n    }\n  }];\n}\n\nreturn [{\n  json: data\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 200],
      "name": "Check Validation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.status === 'error' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 200],
      "name": "Validation Error?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://opa:8181/v1/data/ai/policy/result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ input: { subject: { tenant_id: $('Check Validation').first().json.tenant_id || 'unknown', scope: $('Check Validation').first().json.scope || 'unknown', role: 'workflow' }, resource: { tenant_id: $('Check Validation').first().json.tenant_id || 'unknown', scope: $('Check Validation').first().json.scope || 'unknown', task_type: (($('Check Validation').first().json.task || {}).type) || 'code_execution', template: 'n8n-dispatch' }, action: 'executor.execute', context: { request_id: $('Check Validation').first().json.request_id, network_enabled: false, payload_size: JSON.stringify($('Check Validation').first().json.task || {}).length } } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 400],
      "name": "Evaluate Policy"
    },
    {
      "parameters": {
        "jsCode": "const validated = $('Check Validation').first().json;\n\nif (validated.status === 'error') {\n  return [{ json: validated }];\n}\n\nconst response = $input.first().json;\nconst policy = (response && typeof response.result === 'object')\n  ? response.result\n  : {\n      policy_id: 'fallback',\n      policy_version: 'fallback',\n      decision: 'deny',\n      allow: false,\n      requires_approval: true,\n      risk_score: 0,\n      reasons: ['invalid_policy_response']\n    };\n\nif (policy.decision !== 'allow') {\n  return [{\n    json: {\n      status: 'error',\n      message: policy.decision === 'requires_approval' ? 'Policy requires approval' : 'Policy denied',\n      request_id: validated.request_id,\n      policy,\n      approval: policy.decision === 'requires_approval' ? {\n        endpoint: '/webhook/policy/approval',\n        method: 'POST'\n      } : null\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...validated,\n    policy\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1050, 400],
      "name": "Check Policy"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.status === 'error' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 260],
      "name": "Policy Error?"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nif (data.status === 'error') {\n  return [{ json: data }];\n}\n\nconst task = data.task || {};\nconst payload = task.payload || {};\n\nif (task.type !== 'security_digest_mail') {\n  return [{ json: data }];\n}\n\nconst message = [\n  '以下の事実データから、読みやすい日本語メルマガ本文を作成してください。',\n  '',\n  '要件:',\n  '- 構成: 1) 今日の要点(3行) 2) 重要トピックTOP3 3) 業務影響の見方 4) 今日やることチェックリスト(5項目以内)',\n  '- 誇張せず、根拠は事実データのみ',\n  '- 1通で2-3分で読める分量',\n  '- 平易で実務に使える日本語',\n  '',\n  '事実データ:',\n  String(payload.message || ''),\n].join('\\n');\n\nreturn [{\n  json: {\n    ...data,\n    _brain_enabled: true,\n    brain_input: {\n      tenant_id: data.tenant_id || 'corp-internal',\n      scope: data.scope || 'security-digest',\n      message,\n      meta: {\n        source: '04_executor_dispatch',\n        use_case: 'daily_digest_executor'\n      },\n      brain: {\n        provider: task.llm?.provider || 'openrouter',\n        model: task.llm?.model || 'qwen/qwen3-next-80b-a3b-instruct:free',\n        temperature: 0.3\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1200, 400],
      "name": "Build Brain Router Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json._brain_enabled === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1360, 400],
      "name": "Needs Brain Router?"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn [{\n  json: {\n    ...data.brain_input,\n    _executor_context: data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1520, 300],
      "name": "Prepare Brain Payload"
    },
    {
      "parameters": {
        "workflowId": {
          "value": "brain_router_v2"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1680, 300],
      "name": "Execute Brain Router",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const brainResp = $input.first().json || {};\nconst context = $('Prepare Brain Payload').first().json._executor_context || {};\n\nif (!context || Object.keys(context).length === 0) {\n  return [{ json: brainResp }];\n}\n\nconst task = context.task || {};\nconst payload = task.payload || {};\n\nif (task.type !== 'security_digest_mail') {\n  return [{ json: context }];\n}\n\nconst llmText = (brainResp.ok === true && String(brainResp.status || '').toUpperCase() === 'OK')\n  ? String(brainResp.answer || '').trim()\n  : '';\n\nconst finalMessage = llmText\n  ? `${llmText}\\n\\n---\\n[Source Facts]\\n${String(payload.message || '')}`\n  : String(payload.message || '');\n\nconst safeSubject = String(payload.subject || 'Daily Security Digest').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst safeBody = finalMessage.replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst finalHtml = `<h2>${safeSubject}</h2><pre>${safeBody}</pre>`;\n\nconst updatedTask = {\n  ...task,\n  payload: {\n    ...payload,\n    message: finalMessage,\n    htmlMessage: finalHtml\n  }\n};\n\nreturn [{\n  json: {\n    ...context,\n    task: updatedTask,\n    output: {\n      ...(context.output || {}),\n      task: updatedTask,\n      llm: {\n        provider: brainResp.provider || 'openrouter',\n        status: brainResp.status || 'ERROR'\n      }\n    },\n    outcome: llmText ? 'ok' : 'ok_with_local_fallback'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1840, 300],
      "name": "Apply Brain Output"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'error', message: $input.first().json.message, request_id: $input.first().json.request_id || null, policy: $input.first().json.policy || null, approval: $input.first().json.approval || null }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200],
      "name": "Error Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO memory_episodes (tenant_id, scope, summary, outcome, started_at, ended_at, metadata_jsonb)\nVALUES ('{{ $input.first().json.tenant_id }}', '{{ $input.first().json.scope }}', 'executor task executed', '{{ $input.first().json.outcome }}', NOW(), NOW(), '{{ JSON.stringify($input.first().json.output).replace(/'/g, \"''\") }}'::jsonb);",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1250, 400],
      "name": "Insert Episode",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_events (actor, action, target, decision, payload_jsonb, created_at)\nVALUES ('workflow:executor_dispatch', 'executor_run', '{{ $input.first().json.scope }}', '{{ $input.first().json.policy.decision || \"allowed\" }}', '{{ JSON.stringify({ request_id: $input.first().json.request_id || \"\", policy: $input.first().json.policy || {} }).replace(/'/g, \"''\") }}'::jsonb, NOW());",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1450, 400],
      "name": "Insert Audit",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'success', request_id: $input.first().json.request_id || null, outcome: $input.first().json.outcome, output: $input.first().json.output }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 400],
      "name": "Success Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate and Execute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Execute": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Validation Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Error?": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evaluate Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Policy": {
      "main": [
        [
          {
            "node": "Check Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Policy": {
      "main": [
        [
          {
            "node": "Policy Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Policy Error?": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Brain Router Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Brain Router Input": {
      "main": [
        [
          {
            "node": "Needs Brain Router?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Brain Router?": {
      "main": [
        [
          {
            "node": "Prepare Brain Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Episode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Brain Payload": {
      "main": [
        [
          {
            "node": "Execute Brain Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Brain Router": {
      "main": [
        [
          {
            "node": "Apply Brain Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Brain Output": {
      "main": [
        [
          {
            "node": "Insert Episode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Episode": {
      "main": [
        [
          {
            "node": "Insert Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Audit": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
