n8n/workflows-v3/chat_router_v1.json
{
  "name": "Chat Router v1 (Adaptive Routing)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat/router-v1",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "chat-router-v1",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Hardcoded safe defaults - no env var access (sandbox restriction)\nconst maxChars = 6000;\nconst maxK = 10;\n\n// Support both flat and nested body structure\nconst body = $json.body || $json;\nconst tenant_id = (body.tenant_id || \"\").trim();\nconst scope = (body.scope || \"\").trim();\nlet message = (body.message || body.text || \"\").toString();\n\nif (!tenant_id) throw new Error(\"tenant_id required\");\nif (!scope) throw new Error(\"scope required\");\nif (!message) throw new Error(\"message required\");\n\nif (message.length > maxChars) {\n  message = message.slice(0, maxChars);\n}\n\nlet k = parseInt(body.k || \"5\", 10);\nif (!Number.isFinite(k) || k < 1) k = 5;\nif (k > maxK) k = maxK;\n\n// Check for explicit brain_enabled flag\nconst brain_enabled = body.brain_enabled === true || body.brain_enabled === \"true\";\n\nreturn [{\n  json: {\n    tenant_id,\n    scope,\n    message,\n    k,\n    brain_enabled\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300],
      "name": "Validate Input"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Always return NO_BRAIN - no env var access allowed in sandbox\n// Infrastructure is working, but no LLM provider configured\nreturn [{\n  json: {\n    status: \"NO_BRAIN\",\n    provider: \"none\",\n    answer: \"⚠️ AI brain is not configured yet.\\n\\nPlease configure KIMI_API_KEY or OPENAI_API_KEY in .env and restart services.\\n\\n(Infra is working; only the LLM provider is missing.)\",\n    tenant_id: data.tenant_id,\n    scope: data.scope,\n    context_count: 0,\n    answer_length: 185,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300],
      "name": "Return NO BRAIN Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "jsCode": "const data = $input.first().json;\nreturn [{\n  json: {\n    status: data.status,\n    provider: data.provider,\n    answer: data.answer,\n    tenant_id: data.tenant_id,\n    scope: data.scope,\n    context_count: data.context_count,\n    answer_length: data.answer_length,\n    timestamp: data.timestamp\n  }\n}];"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300],
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Return NO BRAIN Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return NO BRAIN Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
