n8n/workflows-v3/daily_it_security_digest_mailer_v1.json
{
  "name": "daily_it_security_digest_mailer_v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "trigger-schedule-1",
      "name": "Schedule Trigger (08:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        320
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "recipient",
              "value": "={{ $env.SECURITY_DIGEST_TO || 'your.email@example.com' }}"
            },
            {
              "name": "timezone",
              "value": "Asia/Tokyo"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config-1",
      "name": "Set Recipient",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-cisa-kev-1",
      "name": "Fetch CISA KEV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        320
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://services.nvd.nist.gov/rest/json/cves/2.0?pubStartDate=' + encodeURIComponent(new Date(Date.now() - 24 * 60 * 60 * 1000).toISOString()) + '&pubEndDate=' + encodeURIComponent(new Date().toISOString()) + '&resultsPerPage=20' }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-nvd-1",
      "name": "Fetch NVD (24h)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        320
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst yyyy = now.getFullYear();\nconst mm = String(now.getMonth() + 1).padStart(2, '0');\nconst dd = String(now.getDate()).padStart(2, '0');\nconst dateLabel = `${yyyy}-${mm}-${dd}`;\n\nconst recipient = $('Set Recipient').first().json.recipient || 'your.email@example.com';\nconst cisaRaw = $('Fetch CISA KEV').first()?.json || {};\nconst nvdRaw = $('Fetch NVD (24h)').first()?.json || {};\n\nconst cisaList = Array.isArray(cisaRaw.vulnerabilities) ? cisaRaw.vulnerabilities : [];\nconst nvdList = Array.isArray(nvdRaw.vulnerabilities) ? nvdRaw.vulnerabilities : [];\n\nconst topKev = cisaList.slice(-3).reverse();\nconst topNvd = nvdList.slice(0, 3);\n\nconst facts = [];\nfacts.push(`Date: ${dateLabel}`);\nfacts.push(`CISA_KEV_Total: ${cisaList.length}`);\nfacts.push(`NVD_24h_Total: ${nvdList.length}`);\nfacts.push('');\nfacts.push('### CISA KEV (Top 3)');\nfor (const v of topKev) {\n  facts.push(`- ${v.cveID || 'N/A'} | ${v.vendorProject || 'Unknown'} ${v.product || ''} | due=${v.dueDate || '-'}`);\n  if (v.shortDescription) facts.push(`  note: ${String(v.shortDescription).replace(/\\s+/g, ' ').trim().slice(0, 160)}`);\n}\nif (topKev.length === 0) facts.push('- none');\n\nfacts.push('');\nfacts.push('### NVD New CVEs (Top 3)');\nfor (const row of topNvd) {\n  const cve = row?.cve || {};\n  const id = cve.id || 'N/A';\n  const published = cve.published ? String(cve.published).slice(0, 10) : '-';\n  const desc = (cve.descriptions || []).find(d => d.lang === 'en')?.value || '';\n  const s31 = cve.metrics?.cvssMetricV31?.[0]?.cvssData?.baseScore;\n  const s30 = cve.metrics?.cvssMetricV30?.[0]?.cvssData?.baseScore;\n  const s2 = cve.metrics?.cvssMetricV2?.[0]?.cvssData?.baseScore;\n  const score = s31 ?? s30 ?? s2 ?? '-';\n  facts.push(`- ${id} | CVSS=${score} | published=${published}`);\n  if (desc) facts.push(`  summary: ${desc.replace(/\\s+/g, ' ').trim().slice(0, 160)}`);\n}\nif (topNvd.length === 0) facts.push('- none');\n\nconst factualDigest = facts.join('\\n');\n\nreturn [{\n  json: {\n    recipient,\n    dateLabel,\n    subject: `【Daily Security Digest】${dateLabel} ITセキュリティ速報`,\n    factualDigest\n  }\n}];"
      },
      "id": "code-build-facts-1",
      "name": "Build Factual Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $input.first().json;\n\nconst message = [\n  '以下の事実データから、読みやすい日本語メルマガ本文を作成してください。',\n  '',\n  '要件:',\n  '- 構成: 1) 今日の要点(3行) 2) 重要トピックTOP3 3) 業務影響の見方 4) 今日やることチェックリスト(5項目以内)',\n  '- 誇張せず、根拠は事実データのみ',\n  '- 1通で2-3分で読める分量',\n  '- 平易で実務に使える日本語',\n  '',\n  '事実データ:',\n  base.factualDigest,\n].join('\\n');\n\nreturn [{\n  json: {\n    tenant_id: 'security-digest',\n    scope: 'daily-mailer',\n    message,\n    meta: { source: 'daily_it_security_digest_mailer_v1' },\n    brain: {\n      provider: 'openrouter',\n      model: 'qwen/qwen3-next-80b-a3b-instruct:free',\n      temperature: 0.3\n    }\n  }\n}];"
      },
      "id": "code-build-brain-input-1",
      "name": "Build Brain Router Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        320
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "value": "brain_router_v2"
        }
      },
      "id": "http-llm-compose-1",
      "name": "Compose Newsletter with LLM",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1360,
        320
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const base = $('Build Factual Digest').first().json;\nconst resp = $('Compose Newsletter with LLM').first().json || {};\n\nconst routerOk = resp.ok === true;\nconst routerStatus = String(resp.status || '').toUpperCase();\nconst llmText = String(resp.answer || resp.slack_text || resp.output || '').trim();\n\nlet finalText;\nif (routerOk && routerStatus === 'OK' && llmText) {\n  finalText = `${llmText}\\n\\n---\\n[Source Facts]\\n${base.factualDigest}`;\n} else {\n  const err = resp.answer || resp?.debug?.error || `brain_router_v2 unavailable (status=${resp.status || 'unknown'})`;\n  finalText = `【LLM生成に失敗したため、事実ベース本文を送信します】\\n${err}\\n\\n${base.factualDigest}`;\n}\n\nconst html = `<h2>${base.subject.replace(/</g, '&lt;').replace(/>/g, '&gt;')}</h2><pre>${finalText.replace(/</g, '&lt;').replace(/>/g, '&gt;')}</pre>`;\n\nreturn [{\n  json: {\n    recipient: base.recipient,\n    subject: base.subject,\n    message: finalText,\n    htmlMessage: html\n  }\n}];"
      },
      "id": "code-finalize-mail-1",
      "name": "Finalize Newsletter Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawRecipient = String($json.recipient || '').replace(/[\\r\\n]/g, ' ').trim();\nconst recipients = rawRecipient.split(/[;,]/).map((s) => s.trim()).filter(Boolean);\nconst emailRe = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}$/;\nconst validRecipients = recipients.filter((r) => emailRe.test(r));\nif (validRecipients.length === 0) {\n  throw new Error(`Invalid recipient email address: \"${rawRecipient}\". Set SECURITY_DIGEST_TO to a valid address.`);\n}\n\nconst to = validRecipients.join(', ');\nconst subjectRaw = String($json.subject || 'Daily Security Digest').replace(/[\\r\\n]/g, ' ').trim();\nconst subject = /^[\\x00-\\x7F]*$/.test(subjectRaw) ? subjectRaw : `=?UTF-8?B?${Buffer.from(subjectRaw, 'utf8').toString('base64')}?=`;\n\nconst text = String($json.message || '');\nconst html = String($json.htmlMessage || `<pre>${text.replace(/</g, '&lt;').replace(/>/g, '&gt;')}</pre>`);\n\nconst boundary = 'n8n_' + Date.now();\nconst rfc822 = [\n  `To: ${to}`,\n  `Subject: ${subject}`,\n  'MIME-Version: 1.0',\n  `Content-Type: multipart/alternative; boundary=\"${boundary}\"`,\n  '',\n  `--${boundary}`,\n  'Content-Type: text/plain; charset=\"UTF-8\"',\n  'Content-Transfer-Encoding: 7bit',\n  '',\n  text,\n  `--${boundary}`,\n  'Content-Type: text/html; charset=\"UTF-8\"',\n  'Content-Transfer-Encoding: 7bit',\n  '',\n  html,\n  `--${boundary}--`\n].join('\\r\\n');\n\nconst raw = Buffer.from(rfc822, 'utf8').toString('base64').replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/g, '');\nreturn [{ json: { ...$json, gmailRaw: raw, toNormalized: to } }];"
      },
      "id": "code-build-gmail-raw-1",
      "name": "Build Gmail Raw",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({raw: $json.gmailRaw})}}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "gmail-send-1",
      "name": "Send Digest (Gmail API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        320
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "aNUQ563gH71QU49M",
          "name": "Google account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (08:00)": {
      "main": [
        [
          {
            "node": "Set Recipient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Recipient": {
      "main": [
        [
          {
            "node": "Fetch CISA KEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CISA KEV": {
      "main": [
        [
          {
            "node": "Fetch NVD (24h)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch NVD (24h)": {
      "main": [
        [
          {
            "node": "Build Factual Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Factual Digest": {
      "main": [
        [
          {
            "node": "Build Brain Router Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Brain Router Input": {
      "main": [
        [
          {
            "node": "Compose Newsletter with LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Newsletter with LLM": {
      "main": [
        [
          {
            "node": "Finalize Newsletter Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Newsletter Content": {
      "main": [
        [
          {
            "node": "Build Gmail Raw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gmail Raw": {
      "main": [
        [
          {
            "node": "Send Digest (Gmail API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "Asia/Tokyo"
  },
  "staticData": null,
  "tags": [
    "security",
    "gmail",
    "daily-digest",
    "llm"
  ]
}
