n8n/workflows-v3/gmail_inbox_poll_to_slack_v1.json
{
  "name": "gmail_inbox_poll_to_slack_v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "trigger-cron-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT last_seen_internal_date FROM gmail_cursor WHERE key = 'inbox';"
      },
      "id": "postgres-load-cursor-1",
      "name": "Load Cursor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        450,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "JNn96XNDVxINxZut",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages",
        "authentication": "oAuth2",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "in:inbox"
            },
            {
              "name": "maxResults",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "http-gmail-list-1",
      "name": "Gmail List (INBOX)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        300
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "lE1e0CeTGQva4A8i",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.messages ? $json.messages.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-messages-1",
      "name": "Has Messages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "item-lists-split-1",
      "name": "Split Messages",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://gmail.googleapis.com/gmail/v1/users/me/messages/' + $json.id }}",
        "authentication": "oAuth2",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "metadata"
            },
            {
              "name": "metadataHeaders",
              "value": "From"
            },
            {
              "name": "metadataHeaders",
              "value": "Subject"
            },
            {
              "name": "metadataHeaders",
              "value": "Date"
            }
          ]
        },
        "options": {}
      },
      "id": "http-gmail-get-1",
      "name": "Gmail Get Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        200
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "lE1e0CeTGQva4A8i",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Read cursor from Postgres node output (first row)\nconst lastSeen = Number($('Load Cursor').first().json.last_seen_internal_date || 0);\n\n// Get message metadata\nconst internalDate = Number($json.internalDate || 0);\n\n// Skip if not newer than cursor\nif (internalDate <= lastSeen) {\n  return [{\n    json: {\n      status: 'SKIP_OLD',\n      id: $json.id,\n      internalDate,\n      lastSeen\n    }\n  }];\n}\n\n// Extract headers\nconst headers = $json.payload?.headers || [];\nconst getHeader = (name) => {\n  const h = headers.find(h => (h.name || '').toLowerCase() === name.toLowerCase());\n  return h?.value || 'Unknown';\n};\n\nconst from = getHeader('From');\nconst subject = getHeader('Subject');\nconst date = getHeader('Date');\n\nreturn [{\n  json: {\n    status: 'NEW',\n    id: $json.id,\n    threadId: $json.threadId,\n    from,\n    subject,\n    date,\n    internalDate,\n    link: `https://mail.google.com/mail/u/0/#inbox/${$json.id}`\n  }\n}];"
      },
      "id": "code-dedupe-format-1",
      "name": "Dedupe + Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "NEW",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-is-new-1",
      "name": "Is New?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1650,
        200
      ]
    },
    {
      "parameters": {
        "channel": "#ai-orchestrator-test",
        "text": "={{ `\ud83d\udce9 *New Email*\\n*From:* ${$json.from}\\n*Subject:* ${$json.subject}\\n*Date:* ${$json.date}\\n*Link:* ${$json.link}` }}",
        "options": {}
      },
      "id": "slack-notify-1",
      "name": "Slack Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1850,
        100
      ],
      "credentials": {
        "slackApi": {
          "id": "mZu6vy5nm85vVl9i",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"INSERT INTO gmail_cursor(key, last_seen_internal_date, updated_at) VALUES ('inbox', \" + $json.internalDate + \", NOW()) ON CONFLICT (key) DO UPDATE SET last_seen_internal_date = GREATEST(gmail_cursor.last_seen_internal_date, EXCLUDED.last_seen_internal_date), updated_at = NOW();\" }}"
      },
      "id": "postgres-save-cursor-1",
      "name": "Save Cursor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2050,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "JNn96XNDVxINxZut",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Old or duplicate email - no action needed\nreturn [{\n  json: {\n    status: 'SKIP_OLD',\n    id: $json.id,\n    note: 'Email already processed or older than cursor'\n  }\n}];"
      },
      "id": "code-skip-old-1",
      "name": "Skip Old",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// No messages found\nreturn [{\n  json: {\n    status: 'NO_MESSAGES',\n    note: 'No messages in INBOX or all filtered',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-no-messages-1",
      "name": "No Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        400
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Load Cursor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Cursor": {
      "main": [
        [
          {
            "node": "Gmail List (INBOX)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail List (INBOX)": {
      "main": [
        [
          {
            "node": "Has Messages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Messages?": {
      "main": [
        [
          {
            "node": "Split Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Messages": {
      "main": [
        [
          {
            "node": "Gmail Get Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Get Metadata": {
      "main": [
        [
          {
            "node": "Dedupe + Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe + Format": {
      "main": [
        [
          {
            "node": "Is New?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New?": {
      "main": [
        [
          {
            "node": "Slack Notify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notify": {
      "main": [
        [
          {
            "node": "Save Cursor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    "gmail",
    "slack",
    "poll",
    "readonly",
    "http",
    "postgres"
  ]
}