n8n/workflows-v3/slack_chat_minimal_v1.json
{
  "name": "slack_chat_minimal_v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-command",
        "responseMode": "onReceived",
        "responseBody": "{\"response_type\":\"ephemeral\",\"text\":\"Processing your request...\"}",
        "responseContentType": "application/json",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Slack Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "slack-command"
    },
    {
      "parameters": {
        "jsCode": "// Parse Slack request from form data\n// Handles multiple input formats\nconst j = $json || {};\nlet params = {};\n\nfunction parseFormData(input) {\n  const result = {};\n  if (typeof input === 'object' && input !== null) {\n    return input;\n  }\n  if (typeof input !== 'string') {\n    return result;\n  }\n  const pairs = input.split('&');\n  for (const pair of pairs) {\n    const [key, ...valueParts] = pair.split('=');\n    if (key) {\n      const value = valueParts.join('=');\n      try {\n        result[decodeURIComponent(key)] = decodeURIComponent(value || '');\n      } catch (e) {\n        result[key] = value || '';\n      }\n    }\n  }\n  return result;\n}\n\n// Try multiple sources\nif (j.user_id || j.response_url) {\n  Object.assign(params, j);\n}\nif (j.body && typeof j.body === 'object' && !Array.isArray(j.body)) {\n  Object.assign(params, j.body);\n}\nif (j.body && typeof j.body === 'string') {\n  Object.assign(params, parseFormData(j.body));\n}\nif (j.rawBody && typeof j.rawBody === 'string') {\n  Object.assign(params, parseFormData(j.rawBody));\n}\n\nconst user_id = params.user_id;\nconst user_name = params.user_name || 'unknown';\nconst channel_id = params.channel_id;\nconst text = params.text || '';\nconst response_url = params.response_url;\n\nconst parse_debug = {\n  keys_found: Object.keys(params),\n  has_user_id: !!user_id,\n  has_response_url: !!response_url\n};\n\nreturn [{\n  json: {\n    user_id: user_id || 'unknown',\n    user_name,\n    channel_id: channel_id || 'unknown',\n    text,\n    response_url,\n    tenant_id: 't1',\n    scope: user_id ? 'slack:user:' + user_id : 'slack:unknown',\n    parse_debug,\n    parse_error: !response_url ? 'missing response_url' : null\n  }\n}];"
      },
      "id": "parse-1",
      "name": "Parse Slack Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $json || {};\nreturn [{\n  json: {\n    response_url: j.response_url,\n    user_id: j.user_id,\n    channel_id: j.channel_id,\n    text: j.text,\n    tenant_id: j.tenant_id,\n    scope: j.scope,\n    parse_debug: j.parse_debug\n  }\n}];"
      },
      "id": "preserve-1",
      "name": "Preserve Slack Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        650,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ai-n8n:5678/webhook/chat/router-v1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.N8N_WEBHOOK_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({tenant_id:$json.tenant_id, scope:$json.scope, message:$json.text, k:3})}}",
        "options": {
          "ignoreHttpStatusErrors": true
        }
      },
      "id": "call-ai-1",
      "name": "Call AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        550
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine"
      },
      "id": "merge-1",
      "name": "Merge Slack + Router",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        850,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $json || {};\n\nconst answer = j.answer ?? j.body?.answer ?? j.data?.answer ?? j.response?.answer ?? null;\n\nconst safeAnswer = answer && String(answer).trim().length\n  ? String(answer).trim()\n  : 'AI brain is not configured yet. Please configure KIMI_API_KEY or OPENAI_API_KEY.';\n\nconst response_url = j.response_url;\nconst has_response_url = response_url && String(response_url).trim().length > 10;\n\nreturn [{\n  json: {\n    response_url,\n    answer: safeAnswer,\n    has_response_url,\n    skip_final_reply: !has_response_url\n  }\n}];"
      },
      "id": "normalize-1",
      "name": "Normalize Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1050,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.response_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({response_type:'ephemeral', text:$json.answer})}}"
      },
      "id": "respond-1",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        450
      ]
    }
  ],
  "connections": {
    "Slack Webhook": {
      "main": [
        [
          {
            "node": "Parse Slack Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Slack Request": {
      "main": [
        [
          {
            "node": "Preserve Slack Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Slack Fields": {
      "main": [
        [
          {
            "node": "Merge Slack + Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI": {
      "main": [
        [
          {
            "node": "Merge Slack + Router",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Slack + Router": {
      "main": [
        [
          {
            "node": "Normalize Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Answer": {
      "main": [
        [
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}