n8n/workflows-v3/slack_chat_minimal_v1.json
{
  "name": "slack_chat_minimal_v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-command",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-node-1",
      "name": "Slack Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "slack-command-v3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "json": "{\n  \"response_type\": \"ephemeral\",\n  \"text\": \"Processing your request...\"\n}"
      },
      "id": "ack-node-1",
      "name": "Immediate ACK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        450,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.SLACK_SIGNING_SECRET;\nif (!secret) throw new Error('Missing SLACK_SIGNING_SECRET');\nconst ts = $headers['x-slack-request-timestamp'];\nconst sig = $headers['x-slack-signature'];\nif (!ts || !sig) throw new Error('Missing Slack headers');\nconst now = Math.floor(Date.now()/1000);\nif (Math.abs(now - parseInt(ts,10)) > 300) throw new Error('Request expired');\nlet raw = '';\nif (typeof $json.body === 'string') raw = $json.body;\nelse if ($json.body && typeof $json.body === 'object') {\n  const p = new URLSearchParams();\n  for (const [k,v] of Object.entries($json.body)) { if (v!=null) p.append(k, String(v)); }\n  raw = p.toString();\n}\nif (!raw) throw new Error('No body');\nconst base = `v0:${ts}:${raw}`;\nconst expected = 'v0=' + crypto.createHmac('sha256', secret).update(base).digest('hex');\nconst a = Buffer.from(expected), b = Buffer.from(sig);\nif (a.length !== b.length || !crypto.timingSafeEqual(a,b)) throw new Error('Invalid signature');\nconst params = new URLSearchParams(raw);\nreturn [{json:{verified:true, user_id:params.get('user_id'), user_name:params.get('user_name'), channel_id:params.get('channel_id'), text:params.get('text'), response_url:params.get('response_url'), tenant_id:'t1', scope:'slack:user:'+params.get('user_id')}}];"
      },
      "id": "verify-node-1",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ai-n8n:5678/webhook/chat/router-v1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.N8N_WEBHOOK_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({tenant_id:$json.tenant_id, scope:$json.scope, message:$json.text, k:3})}}"
      },
      "id": "http-node-1",
      "name": "Call AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.response_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({response_type:'ephemeral', text:$json.answer || 'No response from AI'})}}"
      },
      "id": "respond-node-1",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    slack_response_url: $json.response_url,\n    slack_user_id: $json.user_id,\n    slack_text: $json.text\n  }\n}];\n"
      },
      "id": "preserve-node-1",
      "name": "Preserve Slack Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const prior = $node[\"Preserve Slack Fields\"]?.json || {};\nconst j = $json || {};\n\nconst responseUrl = prior.slack_response_url ?? prior.response_url ?? j.response_url ?? null;\n\nconst answer =\n  j.answer ??\n  j.body?.answer ??\n  j.data?.answer ??\n  j.response?.answer ??\n  null;\n\nconst safeAnswer =\n  answer && String(answer).trim().length\n    ? String(answer).trim()\n    : \"⚠️ AI brain is not configured yet.\\n\\nPlease configure one of:\\n- KIMI_API_KEY\\n- OPENAI_API_KEY\\n\\n(Infra is working; only the LLM provider is missing.)\";\n\nreturn [{\n  json: {\n    ...prior,\n    ...j,\n    response_url: responseUrl,\n    answer: safeAnswer\n  }\n}];\n"
      },
      "id": "normalize-node-1",
      "name": "Normalize Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1050,
        400
      ]
    }
  ],
  "connections": {
    "Slack Webhook": {
      "main": [
        [
          {
            "node": "Immediate ACK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Preserve Slack Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Slack Fields": {
      "main": [
        [
          {
            "node": "Call AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI": {
      "main": [
        [
          {
            "node": "Normalize Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Answer": {
      "main": [
        [
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}