n8n/workflows-v3/slack_chat_minimal_v1.json
{
  "name": "slack_chat_minimal_v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-command",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-1",
      "name": "Slack Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "slack-command"
    },
    {
      "parameters": {
        "respondWith": "json",
        "json": "{\n  \"response_type\": \"ephemeral\",\n  \"text\": \"Processing your request...\"\n}"
      },
      "id": "ack-1",
      "name": "Immediate ACK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "jsCode": "// Parse Slack request from form data\n// Note: Signature verification temporarily disabled due to n8n 2.7.4 crypto restriction\n// Security: Caddy should add X-Internal-Auth header to prevent unauthorized access\nconst j = $json || {};\nconst body = j.body || {};\n\n// Helper function to parse form-urlencoded data (URLSearchParams not available in n8n sandbox)\nfunction parseFormData(input) {\n  const result = {};\n  if (typeof input === 'object' && input !== null) {\n    // Already parsed as object\n    return input;\n  }\n  if (typeof input !== 'string') {\n    return result;\n  }\n  const pairs = input.split('&');\n  for (const pair of pairs) {\n    const [key, ...valueParts] = pair.split('=');\n    if (key) {\n      const value = valueParts.join('=');  // Handle values with = in them\n      result[decodeURIComponent(key)] = decodeURIComponent(value || '');\n    }\n  }\n  return result;\n}\n\n// Parse form-urlencoded body\nconst params = parseFormData(body);\n\nconst user_id = params.user_id;\nconst user_name = params.user_name;\nconst channel_id = params.channel_id;\nconst text = params.text;\nconst response_url = params.response_url;\n\nif (!user_id || !response_url) {\n  throw new Error('Missing required Slack fields. Got: ' + JSON.stringify(Object.keys(params)));\n}\n\nreturn [{\n  json: {\n    user_id,\n    user_name,\n    channel_id,\n    text,\n    response_url,\n    tenant_id: 't1',\n    scope: 'slack:user:' + user_id,\n    verified: true\n  }\n}];"
      },
      "id": "parse-1",
      "name": "Parse Slack Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "jsCode": "const j = $json || {};\nreturn [{\n  json: {\n    response_url: j.response_url,\n    user_id: j.user_id,\n    channel_id: j.channel_id,\n    text: j.text,\n    tenant_id: j.tenant_id,\n    scope: j.scope\n  }\n}];"
      },
      "id": "preserve-1",
      "name": "Preserve Slack Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ai-n8n:5678/webhook/chat/router-v1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "X-API-Key", "value": "={{ $env.N8N_WEBHOOK_API_KEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({tenant_id:$json.tenant_id, scope:$json.scope, message:$json.text, k:3})}}",
        "options": {
          "ignoreHttpStatusErrors": true
        }
      },
      "id": "call-ai-1",
      "name": "Call AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 550],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine"
      },
      "id": "merge-1",
      "name": "Merge Slack + Router",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [850, 450]
    },
    {
      "parameters": {
        "jsCode": "const j = $json || {};\n\nconst answer = j.answer ?? j.body?.answer ?? j.data?.answer ?? j.response?.answer ?? null;\n\nconst safeAnswer = answer && String(answer).trim().length\n  ? String(answer).trim()\n  : '⚠️ AI brain is not configured yet.\\n\\nPlease configure KIMI_API_KEY or OPENAI_API_KEY.\\n\\n(Infra working; LLM provider missing.)';\n\nif (!j.response_url || String(j.response_url).trim().length < 10) {\n  throw new Error('Missing response_url after Merge (should never happen)');\n}\n\nreturn [{\n  json: {\n    response_url: j.response_url,\n    answer: safeAnswer\n  }\n}];"
      },
      "id": "normalize-1",
      "name": "Normalize Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1050, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.response_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({response_type:'ephemeral', text:$json.answer})}}"
      },
      "id": "respond-1",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 450]
    }
  ],
  "connections": {
    "Slack Webhook": {
      "main": [[{"node": "Immediate ACK", "type": "main", "index": 0}, {"node": "Parse Slack Request", "type": "main", "index": 0}]]
    },
    "Parse Slack Request": {
      "main": [[{"node": "Preserve Slack Fields", "type": "main", "index": 0}, {"node": "Call AI", "type": "main", "index": 0}]]
    },
    "Preserve Slack Fields": {
      "main": [[{"node": "Merge Slack + Router", "type": "main", "index": 0}]]
    },
    "Call AI": {
      "main": [[{"node": "Merge Slack + Router", "type": "main", "index": 1}]]
    },
    "Merge Slack + Router": {
      "main": [[{"node": "Normalize Answer", "type": "main", "index": 0}]]
    },
    "Normalize Answer": {
      "main": [[{"node": "Respond to Slack", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
